.DS_Store

# ignore all executables
*.exe

# ignore all vscode content
.vscode/

booleens
cocycliques
cocycliques2
cocycliques4pts
errno
factorielle
fichiers
hello
polynome
polynome-horner_rec
polynome-horner_rec-modifie
source.bin
source.txt
tri
CPEI/tp1/go.cmd
CPEI/tp4/Exercice4
CPEI/tp4/Exercice3
CPEI/tp4/Exercice5
CPEI/tp4/Exercice6
6.2.Exercice3
7.1.Exemple22
arguments
CPEI/tp5/Exercice1
GeoPlan/cartesien.o
GeoPlan/cartesien.so
Sudoku/sudoku
